.applicationLoader {
  .box {
    border: 2px dashed var(--colour-gray-10);
    padding: var(--gap-lg);
    position: relative;

    &:hover{
      cursor: pointer;
      opacity: 0.7;
      border: 2px dashed var(--colour-gray-30);
    }

    .input {
      display: none;
    }
  }
}
