.fullWidth{
  width: 100%;

  .textInput{
    width: 100%;
    box-sizing: border-box;
  }
}

.textInput {
  font-family: var(--font-family);

  &.inline {
    border: none;
    font-weight: bold;
    outline: none;
    border-bottom: 1px solid var(--colour-gray-80);
    display: inline-block;
    min-width: 200px;
    white-space: pre-wrap;
  }

  &.block{
    height: 1.5rem;
  }
}
