.sceneNode{
	background-color: var(--colour-white);
	border: var(--border);
	border-radius: var(--border-radius-md);
	padding: var(--gap-xs);
	min-width: 150px;
	width: max-content;
	max-width: 300px;

	&.selected{
		border-color: var(--colour-raspberry);
	}

	.metadata{
		font-size: var(--font-size-xs);
	}

	.note{
		word-break: break-word;
	}
}
