.renderingErrorBoundary {
  width: min(100%, 20rem);
  color: white;
  background-color: var(--colour-gray-10);
  padding: var(--gap-md);
  border-radius: var(--border-radius-md);

  .header{
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .error{
    background-color: var(--colour-gray-20);
    border-radius: var(--border-radius-md);
    padding: var(--gap-sm);
    font-style: italic;
    font-family: monospace;
  }
}