.choicesRender{
  .choice{
    color: var(--anchor-colour);

    &:hover{
      cursor: pointer;
      text-decoration: underline;
      color: var(--anchor-colour-hover);
    }

    &.invalid{
      color: var(--colour-gray-70);

      &:hover{
        text-decoration: none;
        cursor: not-allowed;
      }
    }
  }
}