.choicesRender{
  .choice{
    color: var(--colour-elements);
    user-select: none;

    &:hover{
      cursor: pointer;
      text-decoration: underline;
      color: var(--colour-elements-40);
    }

    &.invalid{
      color: var(--colour-gray-70);

      &:hover{
        text-decoration: none;
        cursor: not-allowed;
      }
    }
  }
}
