@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  font-size: 20px;

  --colour-white: #ffffff;

  --colour-primary: #b99470;
  --colour-primary-10: #c09f7e;
  --colour-primary-20: #c7a98d;
  --colour-primary-30: #ceb49b;
  --colour-primary-40: #d5bfa9;
  --colour-primary-50: #dccab8;
  --colour-primary-60: #e3d4c6;
  --colour-primary-70: #eadfd4;
  --colour-primary-80: #f1eae2;
  --colour-primary-90: #f8f4f1;

  --colour-secondary: #858f64;
  --colour-secondary-10: #919a74;
  --colour-secondary-20: #9da583;
  --colour-secondary-30: #aab193;
  --colour-secondary-40: #b6bca2;
  --colour-secondary-50: #c2c7b2;
  --colour-secondary-60: #ced2c1;
  --colour-secondary-70: #daddd1;
  --colour-secondary-80: #e7e9e0;
  --colour-secondary-90: #f3f4f0;

  --colour-gray: #070708;
  --colour-gray-10: #202021;
  --colour-gray-20: #393939;
  --colour-gray-30: #515152;
  --colour-gray-40: #6a6a6b;
  --colour-gray-50: #838384;
  --colour-gray-60: #9c9c9c;
  --colour-gray-70: #b5b5b5;
  --colour-gray-80: #cdcdce;
  --colour-gray-90: #e6e6e6;









  --text-colour: var(--colour-gray);
  --anchor-colour: var(--colour-secondary);
  --anchor-colour-hover: var(--colour-secondary-20);

  --gap-xs: 0.5rem;
  --gap-sm: 0.75rem;
  --gap-md: 1rem;
  --gap-lg: 2rem;
  --gap-xl: 4rem;

  --font-size-2xs: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-2xl: 1.75rem;
  --font-size-3xl: 2rem;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.3rem;

  --box-shadow: 0.05rem 0.05rem 0.2rem var(--colour-gray-80);

  --border-color: var(--colour-gray-70);
  --border: 1px solid var(--border-color);


  --font-family: "EB Garamond", serif;
}

hr{
  width: 100%;
  border-color: var(--border-color);
}