:root {
  font-size: 18px;

  --colour-white: #ffffff;

  --colour-primary: #b99470;
  --colour-primary-10: #c09f7e;
  --colour-primary-20: #c7a98d;
  --colour-primary-30: #ceb49b;
  --colour-primary-40: #d5bfa9;
  --colour-primary-50: #dccab8;
  --colour-primary-60: #e3d4c6;
  --colour-primary-70: #eadfd4;
  --colour-primary-80: #f1eae2;
  --colour-primary-90: #f8f4f1;

  --colour-secondary: #858f64;
  --colour-secondary-10: #919a74;
  --colour-secondary-20: #9da583;
  --colour-secondary-30: #aab193;
  --colour-secondary-40: #b6bca2;
  --colour-secondary-50: #c2c7b2;
  --colour-secondary-60: #ced2c1;
  --colour-secondary-70: #daddd1;
  --colour-secondary-80: #e7e9e0;
  --colour-secondary-90: #f3f4f0;

  --colour-gray: #070708;
  --colour-gray-10: #202021;
  --colour-gray-20: #393939;
  --colour-gray-30: #515152;
  --colour-gray-40: #6a6a6b;
  --colour-gray-50: #838384;
  --colour-gray-60: #9c9c9c;
  --colour-gray-70: #b5b5b5;
  --colour-gray-80: #cdcdce;
  --colour-gray-90: #e6e6e6;

  --colour-error-90: #fef0f4;
  --colour-error-80: #fdd8e1;
  --colour-error-70: #fbb1c4;
  --colour-error-60: #f98ba6;
  --colour-error-50: #f76489;
  --colour-error-40: #f53d6b;
  --colour-error-30: #f3164e;
  --colour-error-20: #d50b3e;
  --colour-error-10: #af0932;
  --colour-error: #880727;

  --colour-success-90: #eefbf4;
  --colour-success-80: #dff8ea;
  --colour-success-70: #b2eecc;
  --colour-success-60: #84e4ae;
  --colour-success-50: #56d990;
  --colour-success-40: #2dca72;
  --colour-success-30: #26a95f;
  --colour-success-20: #1e874c;
  --colour-success-10: #17663a;
  --colour-success: #0f4527;

  --colour-warning-90: #fff9eb;
  --colour-warning-80: #fff3d6;
  --colour-warning-70: #ffe7ad;
  --colour-warning-60: #ffda85;
  --colour-warning-50: #ffce5c;
  --colour-warning-40: #ffc233;
  --colour-warning-30: #faaf00;
  --colour-warning-20: #c28800;
  --colour-warning-10: #8a6100;
  --colour-warning: #523900;

  --colour-info-90: var(--colour-primary-90);
  --colour-info-80: var(--colour-primary-80);
  --colour-info-70: var(--colour-primary-70);
  --colour-info-60: var(--colour-primary-60);
  --colour-info-50: var(--colour-primary-50);
  --colour-info-40: var(--colour-primary-40);
  --colour-info-30: var(--colour-primary-30);
  --colour-info-20: var(--colour-primary-20);
  --colour-info-10: var(--colour-primary-10);
  --colour-info: var(--colour-primary);








  --text-colour: var(--colour-gray);
  --anchor-colour: var(--colour-secondary);
  --anchor-colour-hover: var(--colour-secondary-20);

  --gap-xs: 0.5rem;
  --gap-sm: 0.75rem;
  --gap-md: 1rem;
  --gap-lg: 2rem;
  --gap-xl: 4rem;

  --font-size-2xs: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-2xl: 1.75rem;
  --font-size-3xl: 2rem;

  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.3rem;

  --box-shadow: 0.05rem 0.05rem 0.2rem var(--colour-gray-80);

  --border-color: var(--colour-gray-70);
  --border: 1px solid var(--border-color);


  --font-family: 'EB Garamond', serif;
}

/* eb-garamond-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eb-garamond-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eb-garamond-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eb-garamond-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eb-garamond-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/eb-garamond-v30-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* eb-garamond-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/eb-garamond-v30-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/noto-sans-v38-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v38-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-v38-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-sans-v38-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/noto-sans-v38-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/jetbrains-mono-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jetbrains-mono-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/jetbrains-mono-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/jetbrains-mono-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/jetbrains-mono-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* coming-soon-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/coming-soon-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* grenze-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/grenze-v15-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grenze-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/grenze-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grenze-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/grenze-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grenze-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/grenze-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grenze-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grenze';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/grenze-v15-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

hr{
  width: 100%;
  border-color: var(--border-color);
}