.createApplication {
  width: min(95dvw, 500px);
  box-sizing: border-box;
  margin: auto;

  .description{
    width: 100%;

    .input{
      width: 100%;
      resize: none;
      font-family: var(--font);
    }
  }

  .author {
    width: 100%;

    > div {
      flex-grow: 1;
    }
  }
}
