@use "@shared/styles/breakpoints";

.metadataEditor {
  .cardWrapper {
    padding: var(--gap-md);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap-md);

    @include breakpoints.at('desktop'){
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoints.at('wide'){
      grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
      align-self: start;
      width: 100%;
      box-sizing: border-box;

      .textarea{
        resize: none;
        width: 100%;
        font-family: var(--font-family);
      }
    }
  }
}
