

h1.heading{
  font-size: var(--font-size-2xl);
  margin-bottom: var(--gap-md);
}

h2.heading{
  font-size: var(--font-size-xl);
  margin-bottom: var(--gap-sm);
}

.paragraph{
  margin-top: 0;
  margin-bottom: var(--gap-sm);
}

.content{
  width: 100%;
}