:root {
  --text-colour: var(--colour-charcoal);
}

body,
html,
#root {
  min-height: 100dvh;
  min-width: 100dvw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-colour);
  background: radial-gradient(
    circle at bottom right,
    var(--colour-old-rose),
    var(--colour-old-rose-40),
    var(--colour-old-rose-10),
    var(--colour-white)
  );
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--anchor-colour);
}


.ProseMirror-selectednode{
  animation: glow 2s infinite;
}
@keyframes rotate {
  0% { clip-path: inset(0 0 95% 0); }
  25% { clip-path: inset(0 0 0 95%); }
  50% { clip-path: inset(95% 0 0 0); }
  75% { clip-path: inset(0 95% 0 0); }
  100% { clip-path: inset(0 0 95% 0); }
}

@keyframes glow {
  0% { box-shadow: 0 0 0 0 var(--colour-raspberry) }
  50% { box-shadow: 0 0 0 3px var(--colour-raspberry); }
  100% { box-shadow: 0 0 0 0 var(--colour-raspberry); }
}