.choice {
  display: flex;
  gap: var(--gap-xs);
  color: var(--colour-elements-20);
  margin-bottom: var(--gap-xs);
  font-weight: 500;

  .icon{
    &:hover{
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .text{
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: var(--colour-elements-20)
    }
  }

  &.hasConditions{
    padding: var(--gap-xs);
    background-color: var(--conditional-colour-light);
    color: var(--conditional-colour);
    .text{
      &:hover{
        color: var(--conditional-colour);
      }
    }

    &.hidden{
      border: 1px dotted var(--colour-elements-20);
    }
  }

  &.hasTriggers{
    padding: var(--gap-xs);
    background-color: var(--triggers-colour-light);
    color: var(--triggers-colour);
    .text{
      &:hover{
        color: var(--triggers-colour);
      }
    }
  }

  &.hasConditions.hasTriggers{
    padding: var(--gap-xs);
    background: linear-gradient(to right, var(--conditional-colour-light), var(--triggers-colour-light));
    color: var(--colour-gray)
  }

}
