.button {
  outline: none;
  background-color: var(--colour-primary);
  color: var(--colour-primary-90);
  border: none;
  border-radius: var(--border-radius-sm);
  padding: var(--gap-xs) var(--gap-md);
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: bold;
  min-width: 120px;

  &:hover {
    cursor: pointer;
    background-color: var(--colour-primary-10);
    color: var(--colour-primary-90);
  }

  &.disabled {
    background-color: var(--colour-gray-90);
    cursor: default;
    color: var(--colour-gray-60);
  }
}
