.splash{
	width: min(50dvw, 100%);
	height: 400px;

	.blurb{
		width: min(500px, 100%);


		.description{
			width: 100%;
		}
	}

	.author{
		border:1px solid var(--colour-charcoal-80);
		border-radius: var(--border-radius-sm);
		color: var(--colour-charcoal-40);
		padding: var(--gap-md);
		box-sizing: border-box;
		width: min(500px, 100%);

		h1{
			margin: 0;
		}
	}
}
