.customImage{
  border-radius: var(--border-radius-md);
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
  margin-top: var(--gap-md);
  margin-bottom: var(--gap-md);


  .image{
    width: 100%;
    display: block;
    margin: auto;
    box-sizing: border-box;
  }
}