@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

:root{
  --anchor-colour: var(--colour-secondary);
  --anchor-colour-hover: var(--colour-secondary-20);
}

body,
html,
#root {
  min-height: 100dvh;
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-colour);
  background-color: var(--colour-primary-90);
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--anchor-colour);
}

h1{
  font-size: var(--font-size-xl);
}

ul{
  margin-left: var(--gap-sm);
  list-style-type: disc;
  padding-left: var(--gap-sm);
}