.choiceEdge{
  background-color: var(--colour-secondary-80);
  box-shadow: var(--box-shadow);
  padding: var(--gap-xs) var(--gap-xs);
  border-radius: var(--border-radius-sm);
  width: 130px;
  font-size: var(--font-size-2xs);
  text-align: center;
  pointer-events: all;
  box-sizing: border-box;

  .delete{
    position: absolute;
    right: 5px;
    top: 2px;
    width: fit-content;
    cursor: pointer;
    pointer-events: all;
  }
}