@use "@shared/styles/breakpoints";

.scene{
  width: min(100%, 40rem);
  align-self: start;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: var(--gap-sm);
  padding-right: var(--gap-sm);

  @include breakpoints.at('tablet'){
    padding-left: 0;
    padding-right: 0;
  }

  .frameBreak{
    width: 100%;
  }

  .next{
    color: var(--anchor-colour);

    &:hover{
      cursor: pointer;
      text-decoration: underline;
      color: var(--anchor-colour-hover);
    }
  }
}