.conditionDisplay{
  border: var(--border);
  padding: var(--gap-xs) var(--gap-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--colour-background);
  .variable{
    font-weight: bold;
  }

  .conditionValue{
    font-weight: bold;
  }
}